body {
    background-color: #2E9AFE;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: orange;
    text-align: center;
    font-size: 50pt;
    margin-bottom: 0px;
}

h3 {
    color: orange;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 20pt;
}

h5 {
    color: orange;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 10pt;
    margin-bottom: 30px;
}

.shovel {
    margin-left:20%;
}


.container {
    width: 800px;
    padding: 10px;
    border: 1px solid #2E64FE;
    background-color: #58ACFA;
    margin-left:20%;
    margin-right:20%;
    text-align: center;
}

.messagebox {
    margin: 30px;
    border: 1px solid #5882FA;
    padding: 10px;
    padding-left: 20px;
    width: 550px;
    background-color: #A9D0F5;
    margin-left:15%;
    text-align: left;
    -webkit-box-shadow: 0 10px 6px -6px #5882FA;
    -moz-box-shadow: 0 10px 6px -6px #5882FA;
    box-shadow: 0 10px 6px -6px #5882FA;
}

button.userlink {
    background: none;
    border: none;
    font-size: 17px;
}

button.shovel {
    background-color: #A9D0F5;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:1px solid #2E64FE;
    font-family:Arial;
    font-size:16px;
    padding:16px 31px;
    box-shadow: 3px 3px #0080FF;
}